.breadcrumb  { margin-bottom: 2rem; }
.breadcrumb ol { background-color: transparent; }
.breadcrumb li a{ text-decoration: none; color: #4A47D6;}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  font-size: 14px;
}

.th {
  text-align: left;
  border-bottom: 2px solid black;
}

.th_span { margin-left: 0; }

.thead_button {
  border: 0;
  border-radius: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  padding: 0.5em;
  margin-bottom: 1px;
  background-color: transparent;
  text-align: left;
  padding-left: 0;
}

.td {
  padding: 0.5em;
  border-bottom: 1px solid #ccc;
}

.tr:hover {
  background-color: #eee;
}

.tr:nth-child(even) {
  background-color: #FBFBFB;
}

